In [1]:
import pandas as pd
import numpy as np

In [9]:
data = {
    "Cough" : np.arange(1, 15, 2) / 2,
    'Classes' : np.random.choice(['Yes', 'No'], size=(7))
}

In [11]:
dataframe = pd.DataFrame(data=data)

In [12]:
dataframe

   Cough Classes
0    0.5     Yes
1    1.5      No
2    2.5     Yes
3    3.5      No
4    4.5      No
5    5.5      No
6    6.5      No

$$xi = mx + c$$
$$sigmoid = \frac{1}{1+e^{-xi}}$$

In [47]:
m = 2.4
c = .01

X = []
for value in dataframe['Cough'].values:
    X.append( (m*value) + c)

In [48]:
def sigmoid(value):
    pre = 1 / (1 + np.exp(value))
    print(pre)
    if pre > 0.5:
        return "Yes"
    else:
        return "No"
    
y_pred = []
for value in X:
    y_pred.append(sigmoid(value))

0.22970105095339813
0.0263393196252834
0.0024480803753001894
0.00022258030389767927
2.0196117069413884e-05
1.8321840510974324e-06
1.66212264070052e-07

In [49]:
y_org = dataframe['Classes'].values

$$accuracy = Correctlydata / Total data$$

In [50]:
def accuracy(y_pred, y_orig):
    correct = 0
    
    for y_pred_val, y_orig_val in zip(y_pred, y_orig):
        if y_orig_val == y_pred_val:
            correct = correct + 1    
    print(f"Total Correct {correct}, Total length {len(y_pred)}")
    return f"{(correct / len(y_pred))*100}%"
accuracy(y_pred=y_pred, y_orig=y_org)

Total Correct 5, Total length 7

'71.42857142857143%'